# This file tells GitHub that changes to certain parts of the repo must be approved by certain people/teams.
#
# See the following for more info
# https://help.github.com/en/articles/about-code-owners

* @kevvvvyp
